<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blockchain Registry</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="./style.css"></script>
    <link rel="stylesheet" href="./bootstrap/bootstrap.min.css"></script>
    <link rel="stylesheet" href="./font/css/open-iconic-bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row py-2">
        <div class="col">
          <input type="text" class="form-control" placeholder="Кадастровый номер">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="ИНН">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="ИНН продавца">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="ИНН покупателя">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Минимальная сумма">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Максимальная сумма">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Начальная дата">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Конечная дата">
        </div>
        <div class="col-1">
          <button type="button" class="btn btn-primary">
            <span class="oi oi-magnifying-glass"></span>
          </button>
          <button type="button" class="btn btn-primary">
            <span class="oi oi-cog"></span>
          </button>    
        </div>
      </div>
      <div class="row">
        <div id="pendingTransactionsWrapper" class="col">
          <h5 class="text-center">Новые транзакции</h5>
          <div class="row">
            <div class="col pendingTransactions">
              <div class="card mb-1">
                <div class="card-header text-center font-weight-bold">
                  23:59:59 31.12.19
                </div>
                <div class="card-body">
                  <p class="card-text">
                    <span class="font-weight-bold">Кадастровый номер: </span><span>47:14:1203001:814</span><br>
                    <span class="font-weight-bold">ИНН продавца: </span><span>7707083893</span><br>
                    <span class="font-weight-bold">ИНН покупателя: </span><span>7710140679</span><br>
                    <span class="font-weight-bold">Сумма: </span><span>5000000</span> ₽
                  </p>
                </div>
                <div class="card-footer small">
                  04f72b5297257e0dfae73932008f77bca0f1e523b54934af06c7498795d4de03
                </div>
              </div>
              <div class="card mb-1">
                <div class="card-header text-center font-weight-bold">
                  23:59:59 31.12.19
                </div>
                <div class="card-body">
                  <p class="card-text">
                    <span class="font-weight-bold">Кадастровый номер: </span><span>47:14:1203001:814</span><br>
                    <span class="font-weight-bold">ИНН продавца: </span><span>7707083893</span><br>
                    <span class="font-weight-bold">ИНН покупателя: </span><span>7710140679</span><br>
                    <span class="font-weight-bold">Сумма: </span><span>5000000</span> ₽
                  </p>
                </div>
                <div class="card-footer small">
                  04f72b5297257e0dfae73932008f77bca0f1e523b54934af06c7498795d4de03
                </div>
              </div>
              <div class="card mb-1">
                <div class="card-header text-center font-weight-bold">
                  23:59:59 31.12.19
                </div>
                <div class="card-body">
                  <p class="card-text">
                    <span class="font-weight-bold">Кадастровый номер: </span><span>47:14:1203001:814</span><br>
                    <span class="font-weight-bold">ИНН продавца: </span><span>7707083893</span><br>
                    <span class="font-weight-bold">ИНН покупателя: </span><span>7710140679</span><br>
                    <span class="font-weight-bold">Сумма: </span><span>5000000</span> ₽
                  </p>
                </div>
                <div class="card-footer small">
                  04f72b5297257e0dfae73932008f77bca0f1e523b54934af06c7498795d4de03
                </div>
              </div>
                            <div class="card mb-1">
                <div class="card-header text-center font-weight-bold">
                  23:59:59 31.12.19
                </div>
                <div class="card-body">
                  <p class="card-text">
                    <span class="font-weight-bold">Кадастровый номер: </span><span>47:14:1203001:814</span><br>
                    <span class="font-weight-bold">ИНН продавца: </span><span>7707083893</span><br>
                    <span class="font-weight-bold">ИНН покупателя: </span><span>7710140679</span><br>
                    <span class="font-weight-bold">Сумма: </span><span>5000000</span> ₽
                  </p>
                </div>
                <div class="card-footer small">
                  04f72b5297257e0dfae73932008f77bca0f1e523b54934af06c7498795d4de03
                </div>
              </div>
              <div class="card mb-1">
                <div class="card-header text-center font-weight-bold">
                  23:59:59 31.12.19
                </div>
                <div class="card-body">
                  <p class="card-text">
                    <span class="font-weight-bold">Кадастровый номер: </span><span>47:14:1203001:814</span><br>
                    <span class="font-weight-bold">ИНН продавца: </span><span>7707083893</span><br>
                    <span class="font-weight-bold">ИНН покупателя: </span><span>7710140679</span><br>
                    <span class="font-weight-bold">Сумма: </span><span>5000000</span> ₽
                  </p>
                </div>
                <div class="card-footer small">
                  04f72b5297257e0dfae73932008f77bca0f1e523b54934af06c7498795d4de03
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="chainWrapper" class="col">
          <h5 class="text-center">Последние транзакции</h5>
          <div class="row">
            <div class="col chain">
              <div class="card mb-1">
                <div class="card-header text-center font-weight-bold">
                  23:59:59 31.12.19
                </div>
                <div class="card-body">
                  <p class="card-text">
                    <span class="font-weight-bold">Кадастровый номер: </span><span>47:14:1203001:814</span><br>
                    <span class="font-weight-bold">ИНН продавца: </span><span>7707083893</span><br>
                    <span class="font-weight-bold">ИНН покупателя: </span><span>7710140679</span><br>
                    <span class="font-weight-bold">Сумма: </span><span>5000000</span> ₽
                  </p>
                </div>
                <div class="card-footer small">
                  04f72b5297257e0dfae73932008f77bca0f1e523b54934af06c7498795d4de03
                </div>
              </div>
              <div class="card mb-1">
                <div class="card-header text-center font-weight-bold">
                  23:59:59 31.12.19
                </div>
                <div class="card-body">
                  <p class="card-text">
                    <span class="font-weight-bold">Кадастровый номер: </span><span>47:14:1203001:814</span><br>
                    <span class="font-weight-bold">ИНН продавца: </span><span>7707083893</span><br>
                    <span class="font-weight-bold">ИНН покупателя: </span><span>7710140679</span><br>
                    <span class="font-weight-bold">Сумма: </span><span>5000000</span> ₽
                  </p>
                </div>
                <div class="card-footer small">
                  04f72b5297257e0dfae73932008f77bca0f1e523b54934af06c7498795d4de03
                </div>
              </div>
              <div class="card mb-1">
                <div class="card-header text-center font-weight-bold">
                  23:59:59 31.12.19
                </div>
                <div class="card-body">
                  <p class="card-text">
                    <span class="font-weight-bold">Кадастровый номер: </span><span>47:14:1203001:814</span><br>
                    <span class="font-weight-bold">ИНН продавца: </span><span>7707083893</span><br>
                    <span class="font-weight-bold">ИНН покупателя: </span><span>7710140679</span><br>
                    <span class="font-weight-bold">Сумма: </span><span>5000000</span> ₽
                  </p>
                </div>
                <div class="card-footer small">
                  04f72b5297257e0dfae73932008f77bca0f1e523b54934af06c7498795d4de03
                </div>
              </div>
              <div class="card mb-1">
                <div class="card-header text-center font-weight-bold">
                  23:59:59 31.12.19
                </div>
                <div class="card-body">
                  <p class="card-text">
                    <span class="font-weight-bold">Кадастровый номер: </span><span>47:14:1203001:814</span><br>
                    <span class="font-weight-bold">ИНН продавца: </span><span>7707083893</span><br>
                    <span class="font-weight-bold">ИНН покупателя: </span><span>7710140679</span><br>
                    <span class="font-weight-bold">Сумма: </span><span>5000000</span> ₽
                  </p>
                </div>
                <div class="card-footer small">
                  04f72b5297257e0dfae73932008f77bca0f1e523b54934af06c7498795d4de03
                </div>
              </div>
              <div class="card mb-1">
                <div class="card-header text-center font-weight-bold">
                  23:59:59 31.12.19
                </div>
                <div class="card-body">
                  <p class="card-text">
                    <span class="font-weight-bold">Кадастровый номер: </span><span>47:14:1203001:814</span><br>
                    <span class="font-weight-bold">ИНН продавца: </span><span>7707083893</span><br>
                    <span class="font-weight-bold">ИНН покупателя: </span><span>7710140679</span><br>
                    <span class="font-weight-bold">Сумма: </span><span>5000000</span> ₽
                  </p>
                </div>
                <div class="card-footer small">
                  04f72b5297257e0dfae73932008f77bca0f1e523b54934af06c7498795d4de03
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="availableNodesWrapper" class="col">
          <h5 class="text-center">Доступные узлы</h5>
          <div class="row">
            <div class="col">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Адрес</th>
                    <th scope="col">Высота</th>
                  </tr>
                  <tbody>
                    <tr>
                      <td>127.127.127.127:22222</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>127.127.127.127:22222</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>127.127.127.127:22222</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>127.127.127.127:22222</td>
                      <td>3</td>
                    </tr>
                  </tbody>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>